<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-500" >
    <nav class="flex gap-[58%] w-full ">
      <p class="text-[30px] text-white ml-[5px] underline decoration-wavy">Pinterest</p>
      <div class="flex gap-[40%] items-center">
        <a href="/profile" class="text-black text-[20px] "  >Profile</a>
        <a href="/all" class="text-[20px]">Feed</a>
        <button class="border-2 w-[80px] p-1 rounded-[30%]"><a href="/logout" class="text-[15px]">LogOut</a></button>
      </nav>
    </div>